name: myfood

services:
  webapi:
    container_name: myfood-cartspayments-webapi
    image: myfood.cartspayments.webapi
    build:
      context: .
      dockerfile: src/Postech.Fiap.cartspayments.WebApi/Dockerfile
    environment:
      - 'ASPNETCORE_ENVIRONMENT=Development'
      - 'ASPNETCORE_URLS=https://+;http://+'
      - 'ASPNETCORE_Kestrel__Certificates__Default__Password=password123'
      - 'ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx'
      - 'DOTNET_USE_POLLING_FILE_WATCHER=true'
      - 'OTEL_EXPORTER_OTLP_ENDPOINT=http://myfood-seq:5341/ingest/otlp/v1/traces'
      - 'OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf'
      - 'ConnectionStrings:SQLConnection=Host=postgres;Database=myfooddb-cartspayments;Username=myfooduser;Password=blueScreen@666'
      - 'AzureStorageSettings:ConnectionString=UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://azurite;'
      - 'MyFoodProductsHttpClientSettings:BaseUrl=http://host.docker.internal:3350'
    networks:
      - myfood-network
    ports:
      - "5011:80"
      - "7107:443"
    volumes:
      - '$USERPROFILE\.aspnet\https:/https/'
    depends_on:
      - postgres

  postgres:
    container_name: myfood-postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: myfooduser
      POSTGRES_PASSWORD: blueScreen@666
      POSTGRES_DB: myfooddb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - myfood-network

  azurite:
    container_name: myfood-storage-account
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000" #blob service's port
      - "10001:10001" #queue service's port
      - "10002:10002" #table service's port
    volumes:
      - c:/azurite:/data
    networks:
      - myfood-network

  seq:
    container_name: myfood-seq
    image: datalust/seq:latest
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5341:5341
      - 3380:80
    networks:
      - myfood-network

  json-server:
    container_name: myfood-json-server
    image: vimagick/json-server
    command: /data/Mocks.json
    ports:
      - "3350:3000"
    volumes:
      - ./src/Postech.Fiap.CartsPayments.WebApi/JsonMocks/:/data
    networks:
      - myfood-network


volumes:
  postgres-data:
  rabbitmq_data:
  rabbitmq_logs:

networks:
  myfood-network:
    driver: bridge